@font-face {
  font-family: FerrariSans;
  src: url('./assets/FerrariSans.woff2');
}

body {
  font-family: FerrariSans;
  margin: 0;
  /* background-image: url('./images/cosmo.jpg');
  background-size: cover;
  backdrop-filter: blur(12px); */
  background-color: beige;
}

header nav {
  background-color: dodgerblue;
}

header nav ol {
  text-align: center;
  margin: 0;
  padding: 24px;
}

header nav ol li {
  display: inline;
  padding: 12px;
}

header nav ol li a {
  color: white;
}

header nav ol li a:hover {
  color: rgb(255, 242, 124);
}

.logo {
  display: none;
  font-size: 48px;
}

.content {
  margin: 0 30px;
}

h1 {
  text-align: center;
}

.img-container {
  display: flex;
  justify-content: center;
}

.cosmo-picture {
  width: 25%;
  border-radius: 12px;
  box-shadow: 6px 6px 16px;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(72, 112, 255);
  text-decoration: underline;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.blog-article {
  width: 300px;
  background-color: white;
  border-radius: 15px;
  padding: 12px;
  box-shadow: 2px 2px 12px;
}

.box {
  background-color: red;
  width: 50%;
  height: 100px;
}

.inside-box {
  background-color: blue;
  width: 50vw;
  height: 50px;
}

.button {
  background-color: #ff6600;
  color: white;
  padding: 10px 20px;
  transition: background-color 0.3s ease-in-out, transform 0.5s ease,
    color 0.3s ease;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.5);
  background-color: #ff3300;
  color: black;
}

/* @keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  opacity: 0;
  animation: fadeIn 5s ease-in forwards;
} */

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

h2 {
  animation: slideIn 1s ease-out forwards;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bounce {
  animation: bounce 0.5s ease-in-out infinite;
}

@media (max-width: 1000px) {
  .cosmo-picture {
    width: 90%;
  }
}

@media (max-width: 500px) {
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: seagreen;
  }

  header nav ol li {
    display: block;
    text-align: left;
    text-transform: uppercase;
  }

  .logo {
    display: inline;
  }
}
